/* Premiere section */
a{
    text-decoration: none;
    color: #271a38;
}
.sc-inbMCfeMGwJa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffbef;
    column-gap: 40px;
    padding: 10px;
    padding-inline: 80px;
}

.sc-inbMCfeMGwJa h2{
    font-family: 'inter';
    color: #271a38;
    font-size: 40px;
    margin-bottom: 15px;
}

.sc-inbMCfeMGwJa p{
    font-family: 'inter';
    font-weight: 500;
    letter-spacing: 1.2%;
}

.sc-inbMCfeMGwJa div{
    row-gap: 30px;
}


/* deuxieme section avec les deux bulles */

.sectionEtudiant{
    position: absolute;
    width: 590px;
    height: auto;
    background-color: #FDFBE0;
    padding: 10px;
    border-top: solid 8px #F8BA32 ;
    border-radius: 5px;
    margin-top: -50px;
    margin-left: 80px;
    padding: 24px;
    border-bottom: solid 1px #F2F1F3;
    border-left: solid 1px #F2F1F3;
    border-right: solid 1px #F2F1F3;
}

.sectionEtudiant h2{
    font-family: 'inter';
    color: #271a38;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.sectionEtudiant p{
    font-family: 'Inter';
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 26px;
    font-weight: 300;
    max-inline-size: initial;
    padding-bottom: 15px;   
}

.demarrerInscription{
    all : unset;
    background-color: #7451EB;
    color: white;
    font-family: 'inter';
    font-weight: 700;
    padding: 8px;
    padding-inline: 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px 0px,
                rgba(0, 0, 0, 0.05) 0px 2px 6px 0px;
}

.decouvrirFormation{
    all : unset;
    color: #7451EB;
    font-family: 'inter';
    font-weight: 700;
    padding: 8px;
    padding-inline: 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px 0px, 
                rgba(0, 0, 0, 0.05) 0px 2px 6px 0px;
}


.sectionEmployeur{
    position: absolute;
    width: 590px;
    height: auto;
    background-color: #EBEEFB;
    padding: 10px;
    border-top: solid 8px #9CBFF2 ;
    border-radius: 3px;
    margin-top: -50px;
    margin-left: 800px;
    padding: 24px;
    border-bottom: solid 1px #F2F1F3;
    border-left: solid 1px #F2F1F3;
    border-right: solid 1px #F2F1F3;
}

.sectionEmployeur h2{  
    font-family: 'inter';
    color: #271a38;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.sectionEmployeur p{
    font-family: 'Inter';
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 26px;
    font-weight: 300;
    max-inline-size: initial;
    padding-bottom: 15px;   
}